body{margin: 0;font-family: 'Montserrat',sans-serif;font-size: 16px;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #ffff;}
img.logotipo{max-width:190px;height:auto;display:block;width:100%;}
h1{font-size: 35px;}a{text-decoration: none!important;}a{color:#212529 !important;}a.txtW{color:#002d74!important;}a.txtW:hover{color:#002d74;}
.pAbsolute{position:absolute;}.pRelative{position:relative;}ul.check{list-style:none;}
.back2{height:400px;display:flex;background-image:url(../img/background-3.jpg);background-size:cover;background-position:center;background-attachment:fixed;background-repeat:no-repeat;}
/*ESTILOS PARA SECCIONES*/
.title{color:#ec6825;}
.padd2{padding:20px 20px 30px}.padpw {padding: 10px 10px;}.padd3 {padding: 10px 0px 0px 0px;text-align: center;}
/*ESPACIADORES*/
.separadorito{display: block;width: 100%;height: 50px;}.ml-f{margin-left: -20px;}
.barita {display: block;float: none;width: 70%;height: 3px;background-color: #ff6d10;margin-bottom: 20px;margin-left: 15%;}
/*TAMAÑO DE LOGOTIPOS E IMAGENES*/
.logo_footer{width: 150px;}
/*ESTILOS PARA IMAGEN DE FONDO*/
.he550{height:650px;}
.icon-asegura {width: 50px;margin: 5px auto;display: block;}
/*Tamaño letra span card*/
.textpromo{font-size: 12px;font-weight: bold;color:#00506e!important;font-style: italic;}
.font1{font-size: 12px;}
/*ESTILOS PARA HEADER*/
.tamaño_icon{width: 40%;margin-right: 65px;}.fone{display: block;margin-top: -19px;color: #fff !important;}.phone{width: 25px;margin-left: -35px;}
/*ESTILOS DE TEXTO Y TAMAÑO PARA CALL TO ACTION*/
.h2title{font-size: 18px;}.padd {padding: 10px 20px;}.fontpromo{font-size: 18px;}
/*ESTILOS PARA CARD QUE CONTIENE PROMOCIONES*/
.padd0{padding: 0;}.paddcard{padding: 5px;margin-left: 20px;}
.card {position: relative;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0, 0, 0, .125);border-radius: 4px;}
.brderradius{border-radius:4px!important;border:none;}
/*ESTILOS PARA EL FORMULARIO*/
.input-group > .custom-select:not(:last-child){border-top-right-radius:none!important;border-bottom-right-radius:none!important;}
.input_group{font-size: 14px;border: none;}
.chevron{width: 15px;}.pa-09 {padding: 0 0 0 .9em;}.he45{height:38px;}.mat{padding-left:5px;padding-right:5px;}
.botoncotizar {color: #ffff;background-color:#28a745;height: 55px;width: 97%;font-size: 25px;padding: 0px 10px 0px 10px;margin: 0 auto;display: block;border-radius: 5px;border: none;}
.sizeMobile{font-size:15px;text-align:center;font-weight:400;padding:7px;}
small{width:100%;height:auto;display:block;color:#fff;}
.checktext{font-size: 12px;}
/*CHECK BOX PERSONALIZADO SE UTILIZA PARA EL AVISO DE PRIVACIDAD*/
.checkbox {}
.checkbox label {display: inline-block;position: relative;padding-left: 0; }
.checkbox label::before {content: "";display: inline-block;position: absolute;width: 18px;height: 18px;left: 0;margin-left: -17px;border: 1px solid #cccccc;border-radius: 3px;background-color: #fff;margin-top: 4px;}
.checkbox label::after {display: inline-block;position: absolute;width: 11px;height: 11px;left: 0;top: 0;margin-left: -21px;padding-left: 6px;padding-top: 5px;font-size: 12px;color: #044f99 !important;}
.checkbox input[type="checkbox"] {opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome';content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee;cursor: not-allowed; }
.checkbox.checkbox-circle label::before {border-radius: 50%; }
.checkbox.checkbox-inline {margin-top: 0; }
.checkbox-primary input[type="checkbox"]:checked + label::before {background-color: #fff;border-color:#044f99; }
.checkbox-primary input[type="checkbox"]:checked + label::after {color: #044f99; }

/*ESTILOS PARA VISTA AGRADECIMIENTO*/
/*ESTILOS PARA FOOTER*/
.footer-color{background:#2d4754;background-color:#2d4754;padding:20px 0;}
.color_star1{color:white;font-size: 25px;margin-top: -10px;display: block;margin-bottom: -10px;text-decoration: none;}
.bol{color:black;font-size: 13px;}
.ulstyle{font-size: 12px;color: #fff;text-align: left;display: inline-block;list-style: none;}
.pfooter{font-size: 12px;}
.condu {max-width: 130px;height: auto;margin: -10px auto;padding: 0 10px 10px;}
.filtered{filter:grayscale(1);-webkit-filter:grayscale(1);-moz-filter:grayscale(1);}
/**/
/*ESTILOS PARA DIFERENTES TAMAÑOS DE PIXELES DESKTOP AND MOVILE*/
.pRelative{position:relative;}
a {color: #ec6825;}
.phone{width:16px;height:16px;background:url(/img/phone-red.png);background-repeat:no-repeat;margin-top:1px;}
.f13{font-size: 13px;}
.margin-40{margin-left: 25%;}
.colorheader{display:none!important;}
.logo{width: 125px;height: auto;display: block;}
.cuarto-circulo{width: 54px;height: 228px;border-radius: 100px 100px 100px 100px;background:#ec6825;margin-left: 20px;transform: rotate(65deg);margin-top: -250px;padding: 0;position: absolute;}
.cuarto-circulo1{width: 54px;height: 185px;border-radius: 100px 100px 100px 100px;background: #ec6825;margin-left: 20px;transform: rotate(65deg);margin-top: -136px;margin-left: -10px;padding: 0;position: absolute;}
.cuarto-circulo_top {width: 44px;height: 285px;border-radius: 100px 100px 100px 100px;background:#842332;background-position-y: 0%;margin-left: -3px;transform: rotate(65deg);margin-top: -180px;padding: 0;position: absolute;background-position-y: top;z-index: 0;}
.cuarto-circulo_top1 {width: 44px;height: 355px;border-radius: 100px 100px 100px 100px;background:#842332;
margin-left: 20px;transform: rotate(65deg);margin-left: 30px;padding: 0;position: absolute;margin-top: -160px;z-index: 0;}
.section_color{background:#f7f6f6;}.btn-light{border-color: #f8f9fa;}
.m-lf{margin-left: -20px;}.m-lflogo{margin-left: 90px;}
.text_deco{display: block;float: none;width: 84%;height: 2px;background-color: #ec6825;}
.p_subtitle{font-size: 18px;color: #4e4044;}
.text_hi{font-size: 30px;font-weight: 700;color: #ec6825;margin-bottom: -5px;text-align: left;margin-top: 20px;}
.color_white{background-color: white;}
.capa3{z-index: -3;display: block;}.capa4{z-index: 4;display: block;}
.colorAseg {background-image: linear-gradient(to left, #ec6825, #ec6825 50%, white 50%);background-attachment:fixed;background-repeat: no-repeat;}
.logo-2x{max-width: 190px !important;height: auto;width: auto !important;display: inline-block;margin-bottom: -20px;
}
.color_star{color:gold;font-size: 25px;margin-top: -10px;display: block;margin-bottom: -30px;text-decoration: none;}
.bol{color:black;font-size: 25px;}
.span_text{font-size: 12px;font-weight: 600;}
.blablabla{border-radius:8%;display:block;width:260px;background:white;height:140px;padding:60px 20px 0px;max-width:100%;}
.fsize{font-size:1.7rem;}
.back1{height: 730px;display: block;background-image: url(/img/car.png);background-size: 33%;background-position: bottom center !important;background-repeat: no-repeat;margin-left: -170px;}
.back3{height: 550px;display: block;background-image: url(/img/flecha.png);background-size: 10%;background-position: center !important;background-repeat: no-repeat;margin-top: 161px;}
.new_p{font-size: 25px;width: 70%;color: #777;}

@media(min-width:1601px) and (max-width:4000px){
.back1{height: 730px;display: block;background-size: 25%;margin-left: -206px;}
.back3{height: 550px;display: block;background-size: 10%;}
.logo-2x{max-width:230px!important;height:auto;width:auto!important;margin: 130px 0 -10px 0;display:inline-block;}
}
@media(min-width:1201px) and (max-width:1600px){
.back1{height: 730px;display: block;background-size: 33%;margin-left: -170px;}
.back3{height: 550px;display: block;background-size: 10%;}
.logo-2x{max-width:200px!important;height:auto;width:auto!important;margin: 108px 0 -9px 0;display:inline-block;}
}

@media(min-width:1024px) and (max-width:1200px){
.colorAseg {background-image: linear-gradient(to left, #ec6825, #ec6825 50%, white 10%);background-attachment:fixed;background-repeat: no-repeat;}
.logo-2x{max-width:200px!important;height:auto;width:auto!important;margin: 100px 0 -10px 0;display:inline-block;}
.m-lf{margin-left: -78px;}
.text_hi{font-size: 25px;}
.p_subtitle{font-size: 15px;}
.back1{height: 708px;display: block;background-size: 40%;margin-left: -170px;}
.back3{height: 580px;display: block;background-size: 15%;}
}
@media(min-width:901px) and (max-width:1024px){
.colorAseg {background-image: linear-gradient(to left, #ec6825, #ec6825 58%, white 10%);background-attachment:fixed;background-repeat: no-repeat;}
.padd {padding: 10px 0px;}.m-lf{margin-left: -60px;}.mlmovile{margin-left: -15px;}.mleftrate{margin-left: -40px;}.span_text{font-size: 10px;}.bol{font-size: 18px;}.color_star{margin-top: -10px;}
.logo-2x{max-width:190px!important;height: auto;display: inline-block;margin: 85px 0 -10px 0;}
.m-lf{margin-left: -78px;}.text_hi{font-size: 19px;}.p_subtitle{font-size: 11px;}
.back1{height: 718px;display: block;background-size: 38%;margin-left: -241px;}
.back3{height: 689px;display: block;background-size: 13%;margin-left: -97px;}
.cuarto-circulo {width: 34px;height: 164px;margin-left: 20px;margin-top: -300px;}
.cuarto-circulo1 {width: 34px;height: 185px;margin-left: 20px;margin-top: -246px;margin-left: -10px;}
.cuarto-circulo_top {width: 34px;height: 253px;background-position-y: 0%;background-position-y: 0%;margin-left: 47px;margin-top: -150px;padding: 0;position: absolute;background-position-y: top;z-index: 0;}
.cuarto-circulo_top1 {width: 34px;height: 355px;margin-left: 20px;transform: rotate(65deg);margin-left: 100px;padding: 0;position: absolute;margin-top: -170px;z-index: 0;}
}
@media(min-width:801px) and (max-width:900px){
.marginform{margin-left: 8%;}
.colorAseg {background-image: linear-gradient(to left, #ec6825, #ec6825 58%, white 10%);background-attachment:fixed;background-repeat: no-repeat;}
.padd {padding: 10px 0px;}.m-lf{margin-left: -60px;}.mlmovile{margin-left: -15px;}.mleftrate{margin-left: -40px;}.span_text{font-size: 9px;}.bol{font-size: 18px;}.color_star{margin-top: -5px;margin-bottom: -35px;}
.text_hi{font-size: 19px;}
.p_subtitle{font-size: 15px;}.logo-2x{max-width:160px !important;height: auto;display: inline-block;margin: 85px 0 -10px 0;}
.back1{height: 708px;background-size: 36%;margin-left: -206px;margin-top: -40px;}
.back3{height: 550px;background-size: 12%;margin-top: 230px;margin-left: -70px;}
.cuarto-circulo {width: 34px;height: 164px;margin-left: 20px;margin-top: -328px;}
.cuarto-circulo1 {width: 34px;height: 185px;margin-left: -10px;margin-top: -270px;}
.cuarto-circulo_top {width: 34px;height: 253px;background-position-y: 0%;margin-left: 47px;margin-top: -150px;padding: 0;position: absolute;background-position-y: top;z-index: 0;}
.cuarto-circulo_top1 {width: 34px;height: 355px;margin-left: 20px;margin-left: 100px;padding: 0;position: absolute;margin-top: -170px;z-index: 0;}
}
@media(min-width:769px) and (max-width:800px){
 body{font-size: 85%;}.title{font-size: 23px;}h2{font-size: 23px;}h3{font-size: 23px;}h4{font-size: 20px;}
.colorAseg {background-image: linear-gradient(to left, #ec6825, #ec6825 60%, white 60%);background-attachment:fixed;background-repeat: no-repeat;}
.padd {padding: 10px 0px;}
/*estilos de encabezado */
.m-lf{margin-left: -60px;}.mlmovile{margin-left: -15px;}.mleftrate{margin-left: -40px;}.span_text{font-size: 9px;}.bol{font-size: 18px;}.color_star{margin-top: -5px;}
.text_hi{font-size: 19px;}.p_subtitle{font-size: 12px;}
.back1{height: 708px;display: block;background-size: 45%;margin-left: -189px;}
.back3{height: 550px;display: block;background-size: 12%;margin-top: 230px;margin-left: -70px;}
.logo-2x{max-width: 190px !important;height: auto;width: auto !important;display: inline-block;margin-top: 85px;}
.cuarto-circulo {width: 34px;height: 164px;margin-left: 20px;transform: rotate(65deg);margin-top: -300px;}
.cuarto-circulo1 {width: 34px;height: 185px;margin-left: 20px;transform: rotate(65deg);margin-top: -246px;margin-left: -10px;}
.cuarto-circulo_top {width: 34px;height: 253px;background-position-y: 0%;margin-left: 47px;transform: rotate(65deg);margin-top: -150px;padding: 0;position: absolute;background-position-y: top;z-index: 0;}
.cuarto-circulo_top1 {width: 34px;height: 355px;margin-left: 20px;transform: rotate(65deg);margin-left: 100px;padding: 0;position: absolute;margin-top: -170px;z-index: 0;}
.sizeMobile{font-size: 20px;text-align: center;font-weight: 400;margin-bottom: -80px;margin-top: 125px;}
}
@media(min-width:600px) and (max-width:768px){
 body{font-size: 85%;}.title{font-size: 23px;}h2{font-size: 23px;}h3{font-size: 23px;}h4{font-size: 20px;}h6{font-size: 14px;margin-top: 10px;}
img.logotipo {max-width: 158px;}
.colorAseg {background:#ec6825;}.he550{height:650px;}.he550thank{height: 420px;}
.m-lf{margin-left: -60px;}.text_hi{font-size: 21px;}
.logo-2x{max-width: 100px !important;height: auto;width: auto !important;margin: -54px 2px -28px;display: inline-block;}
.sizeMobile{font-size: 17px;text-align: center;font-weight: 400;margin-bottom: -75px;margin-top: 90px;}
}
@media(min-width:481px) and (max-width:599px){
 body{font-size: 85%;}.title{font-size: 23px;}h2{font-size: 23px;}h3{font-size: 23px;}h4{font-size: 20px;}h6{font-size: 14px;margin-top: 10px;}
 img.logotipo {width: 140px;height: auto;display: block;}
.colorAseg {background:#ec6825;}.he550{height:610px;}
.logo-2x{max-width: 83px !important;height: auto;width: auto !important;margin: 16px 2px 31px;display: inline-block;}
.sizeMobile{font-size: 17px;text-align: center;font-weight: 400;margin-bottom: -55px;margin-top: 90px;}
.f13{font-size: 12px!important;}.back2{height: 260px;}
.phone{background-position: right;background-size: contain;}.pfooter{font-size: 10px;margin-top: 10px;}
/*Style thanks*/
.he550thank{height: 520px;}
}
@media(min-width:320px) and (max-width:480px){
 body{font-size: 85%;}.title{font-size: 23px;}h2{font-size: 23px;}h3{font-size: 23px;}h4{font-size: 20px;}h6{font-size: 14px;margin-top: 10px;}
img.logotipo {width: 140px;height: auto;display: block;margin-left: -20px;margin-top: -10px;}
.colorAseg {background:#ec6825;}.he550{height:580px;}
.logo-2x {max-width: 79px !important;height: auto;width: auto !important;margin: 5px 2px 15px;display: inline-block;}
.sizeMobile {font-size: 17px;text-align: center;font-weight: 400;margin-bottom: -55px;margin-top: 65px;}
.f13{font-size: 10px!important;}.telsize{width: 12px;}.back2{height: 260px;}
.margin-40{margin-left: 10px;}.checktext{font-size: 11px;}
.pfooter{font-size: 10px;margin-top: 10px;}
    .phone {width: 20px;margin-left: -27px;}
  .logo_footer {width: 120px;margin-bottom: 10px;}
  .condu {max-width: 120px;}
  .ulstyle{font-size: 11px;line-height: 1.7}
/*Style thanks*/
.he550thank{height: 520px;}
}
@media(min-width:240px) and (max-width:319px){
body{font-size: 75%;}.title{font-size: 20px;}h2{font-size: 20px;}h3{font-size: 20px;}h4{font-size: 20px;}h6{font-size: 13px;margin-top: 10px;}
img.logotipo {width: 130px;height: auto;display: block;margin-left: -19px;margin-top: -10px;}.telsize{width: 12px;}
.colorAseg {background:#ec6825;}.pdnone{padding-left: 0px;padding-right: 0px;}.he550{height:590px;}
.logo-2x {max-width: 79px !important;height: auto;width: auto !important;margin: 5px 2px 15px;display: inline-block;}
.sizeMobile {font-size: 17px;text-align: center;font-weight: 400;margin-bottom: -45px;margin-top: 75px;}
.f13{font-size: 10px!important;}.back2{height: 260px;}
.margin-40{margin-left: 10px;}.checktext{font-size: 9px;}
.ulstyle{font-size: 10px;line-height: 1.7}
.pfooter{font-size: 10px;margin-top: 10px;}
 .logo_footer {width: 120px;margin-bottom: 10px;}
.condu {max-width: 110px;}
.color_star1{font-size: 22px;}
/*Style thanks*/
.he550thank{height: 520px;}
}