<template>
    <div>
        <h3 class="txtfff bolder">El precio de tu seguro es de : {{precio | currency}}</h3>
    </div>
</template>
<script>
    export default {
        props: {
            precio: {type: String, required: false}
        }
    }
</script>