<template>
  <div>
          <section>
            <div class="separador"></div>
            <center>
          <div class="row mt-5">
  <div class="col-lg-12">
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/qualitas.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/gnp.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/afirme.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/sura.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/zurich.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/rsa.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/inbursa.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/mapfre.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/aba.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/potosi.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/hdi.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/primero.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/multiva.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/latino.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/general.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/el_aguila.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/ana.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/banorte.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/atlas.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/afirme.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/bxmas.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/bancomer.png"/></li>
   <li style="display:inline;" class="col-sm-1 col-xs-3"><img class="imgstyle" src="~/static/img/logos/allianz.png"/></li>
 
 
</div>
</div>
          </center>
      </section>


    <section>
      <div class="row capa1 pRelative padd2 mt-3">
        <div class="col-lg-10 offset-lg-1">
          <div class="colorq txtt">
            <h2 class="h2text">Tenemos El Mejor Seguro de Auto para ti</h2>
          </div>
          <div class="pbody textp">
<p class="color_p lead"><b>En El Mejor Seguro de Auto sabemos que desde el primer momento en el que tienes tu vehículo, la primer pregunta que se te viene a la mente es; ¿cuál será el seguro de auto ideal?,</b> realmente al momento de buscar un Seguro de autos en México, te concentras en buscar el que más te convenga en cuanto facilidades, beneficios o bien, una aseguradora que te brinde la confianza necesaria para poder sentirte respaldado.</p>
<p class="color_p lead">Siempre existirán dudas, pero principalmente estas surgirán también al momento de querer proteger tu coche, ya que existirá la incertidumbre de dónde o con quién adquirir tu póliza.</p>
<p class="color_p lead">Es ahí en donde en El Mejor Seguro de Auto nos convertimos en tu opción ideal, ya que contamos con las pólizas más completas del mercado, con las que tú y tu familia podrán sentirse protegidos, así como respaldados para poder afrontar toda clase de imprevistos que llegaran a ocurrir, pues trabajamos con las aseguradoras de autos más importantes de México.</p>
<p class="color_p lead">Contamos con la experiencia necesaria, para entender que necesitas de un seguro de auto, con el que podrás transitar tranquilamente por cualquier lugar en el país, y en El Mejor Seguro de Auto nos caracterizamos por ser un bróker de seguros online, en donde trabajamos con la finalidad de brindarte la protección ideal para toda clase de imprevistos.</p>
<p class="color_p lead">Te dan la protección en cualquiera de las situaciones en las que te encuentres, ya que al contar con una póliza de seguro para auto, estás garantizando una estabilidad para ti y para tu familia, con la tranquilidad de estar amparado incluso en momentos adversos.</p>

          </div>
          <div class="colorq txtt">
            <h3 class="h2text">Beneficios al Cotizar Seguro de Auto en México</h3>
          </div>
          <div class="pbody textp">
            <p class="color_p lead">Somos un bróker de seguros online en donde trabajamos para brindarte un comparador con el cual reconocerás fácilmente cuales son realmente tus necesidades, pues como conductor buscas la mayor protección para ti, y para toda tu familia.</p>
            <p class="color_p lead">Con nosotros podrás comparar y elegir a la aseguradora que más te convenga, con las mejores coberturas, y a los precios más accesibles, pues obtendrás beneficios únicos con cualquiera de nuestras más de 20 aseguradoras de autos con las que trabajamos actualmente. </p>
            <p class="color_p lead">El tema de los Seguros de Autos en México conforme pasa el tiempo se ha convertido en uno de los servicios más eficientes y que cuidan de tu integridad, así como de tu patrimonio. Es importante tu bienestar, sobre todo la solidez y respaldo que necesitas para afrontar toda clase de imprevistos que pudieran ocurrir. </p>
            <p class="color_p lead">Realmente debes estar consciente que en cualquier momento de tu vida, podría presentarse una situación que te ponga en apuros económicos. Ante este tipo de escenarios desfavorables, es en donde entra el papel de nuestro seguro auto, el cual te brindará el respaldo necesario para poder afrontar los problemas que se te puedan presentar.</p>
            <p class="color_p lead">Nuestros seguros para autos te darán esa sensación de tranquilidad, pues te responderán en caso de que seas víctima, o sufras un accidente que cause la pérdida total de tu automóvil.</p>
            <p class="color_p lead"><b>Cotizar Seguros de Autos, te ayudará a que cuides de tu patrimonio, y el de tu familia, ya que obtendrás las pólizas que mejor te convengan</b>, además de indicar el tipo de uso que le das a tu automóvil, así como el perfil y zonas en donde frecuentemente transitas, pero también podrás determinar la cobertura que realmente estás buscando, y de esta manera te indicamos cuál el mejor seguro de auto, en base a lo que realmente estás buscando.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row back2">
        <div class="col-lg-12 back2Color d-flex justify-content-center align-items-center shadow">
          <!--    <span class=""></span> -->
          <a href="#" class="btn btn-primary btn-lg">Cotiza gratis ahora mismo</a>
        </div>
      </div>
    </section>
    <section>
      <div class="row capa1 pRelative padd2 ">
        <br>
        <div class="barita"></div>
        <div class="separadorito"></div>
        <div class="col-lg-10 offset-lg-1">
          <div class="colorq txtt">
            <h3 class="h2text">El Mejor Seguro de Auto, tu cotizador de confianza.</h3>
          </div>
          <div class="pbody textp">
            <p class="color_p lead">Cotizar Seguros de Autos, es adquirir una protección con cualquiera de nuestras más de 20 aseguradoras en México, y es que sabemos que un seguro de auto te protegerá en todo momento, ante los riesgos que estas expuesto al momento de transitar en tu automóvil.</p>
            <p class="color_p lead">Las mejores coberturas del mercado podrás encontrarlas en El Mejor Seguro de Auto,  pues podrás elegir la que mejor se adapte a tus necesidades, pues tendrás la facilidad de realizar una comparación acerca de los beneficios que cada una de nuestras aseguradoras te ofrece.</p>
          <p class="color_p lead">Recuerda que tu Seguro de Auto cubrirá desde los daños a terceros en sus bienes o persona, así como los gastos médicos tanto para ti, como para las personas que se encuentran a bordo de tu automóvil. Por último, servicios de grúa, talleres mecánicos, o asesoría legal y hasta el pago de fianza.</p>
          <p class="color_p lead">Un proceso rápido, cotizar seguros de autos con nosotros te será sencillo, pues en  tres pasos podrás obtener un seguro auto:</p>
           <ul class="color_p lead">
            <li style="list-style-type: none">Nuestro cotizador digital inicialmente requiere de; el modelo, marca, submarca, código postal, y tú fecha de nacimiento</li>
            <li style="list-style-type: none">Obtendrás un comparador con las aseguradoras que te ofrecerán los mejores beneficios que cada una de ellas tiene para ti.</li>
            <li style="list-style-type: none">Ya en ese momento uno de nuestros asesores expertos en el tema, te darán la atención personalizada que te mereces, respondiendo a todas tus necesidades, y orientando todo hacia la mejor opción, y listo, habrás adquirido El Mejor Seguro de Auto.</li>
           </ul> 
           
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style scoped>
.logo-2x{max-width:130px!important;height:auto;display:block;width:auto!important;}
a.txtW{color:#fff;}
a.txtW:hover{color:#08506b;}
.blablabla{border-radius:50%;display:block;width:160px;background:white;height:160px;padding:60px 20px 0px;max-width:100%;}
.fsize{font-size:1.7rem;}
.back2Color{background-color:rgba(14, 113, 181, 0.18);}
.imgstyle{width:75px;height:auto;}
.separador{width:100%!important;height:30px;}
.barita {display: block;float: none;width: 30%;height: 3px;background-color: #004e94;margin: 0 0 0 10%;}
.color_p{color: #083e51;text-align: justify;font-size: 16px;}
.semi-circulo-2 {width: 120px;height: 200px;border: 2px solid #555;background: #004e94;border-radius: 0 100px 100px 0;margin-left: -74px;}
.linea{display: block;float: none;width: 2px;height: 230px;background-color: #5e8ebd;margin: 0 0 0 25%;}
.m-l{margin-left: -90px;}
.section_color{background:#f7f6f6;}
.h2text{color: #004c97;}
.lorem_text{color:#01506c}
.img_bene{width: 137px;}
.padd2{padding:10px 20px;}
.padd3{padding: 70px 20px;}
ul{list-style-image: url("/img/check.png");}
@media(min-width:1025px) and (max-width:1200px){
.linea{display: block;float: none;width: 2px;height: 230px;background-color: #5e8ebd;margin: 0 0 0 25%;}
}
@media(min-width:901px) and (max-width:1024px){
.linea{display: block;float: none;width: 2px;height: 230px;background-color: #5e8ebd;margin: 0 0 0 -10%;}
}

@media(min-width:801px) and (max-width:900px){

}
@media(min-width:769px) and (max-width:800px){
.m-l{margin-left: 0;}
.padd2{padding: 10px 20px;}
}
@media(min-width:600px) and (max-width:768px){
.m-l{margin-left: 0;}
.padd2{padding: 10px 20px;}
}
@media(min-width:481px) and (max-width:599px){
.m-l{margin-left: 0;}
.padd2{padding: 10px 20px;}
}
@media(min-width:320px) and (max-width:480px){
.m-l{margin-left: 0;}
 .padd2{padding: 10px 20px;}
}
@media(min-width:240px) and (max-width:319px){
 .m-l{margin-left: 0;}
 .padd2{padding: 10px 20px;}
}
</style>