<template lang="pug"> 
       div.container
        div.row.paddingT2
            div.col-12.col-sm-12.col-md-12.col-lg-4.paddingT 
               h1.titleError Baia baia... 
               h4.contentError Algo salió mal, por favor inténtalo de nuevo. 
               p &nbsp;
               a.errorlink.btn.btn-outline-primary.mb-4.btn-lg(href="/") Regresar al inicio
            div.col-12.col-sm-12.col-md-9.col-lg-8
               img.msda(src="/img/error-img-3.gif")
        div.row
          div.separadorito

</template> 
<script> 
  export default {
    layout: 'errorTemplate'
  }
</script>
<style scoped>
	body{background-color:#e8e8e8;}
  .paddingT{padding-top:5rem;}
	.paddingT2{padding-top:2rem;}
	h1.titleError{font-size:4rem;color:#007cf6;}
	h4{color:#585858;font-weight:100;font-size:2rem;}
	a.errorlink{text-decoration:none;font-weight:600;}
	.msda{width:100%;height:auto;}
  .separadorito{width:100%;height:4rem;}
</style>