<template>
   <div class="section_color">
     <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMPFTK5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="container-fluid pAbsolute capa4 mt-3">
      <div class="container">
     <div class="row ">   
            <div class="col-6 col-sm-6 col-md-3 mb-2 text-center">
             <img class="logotipo d-none d-sm-none d-md-block mlmovile" src="/img/mejor-seguro-de-auto_black.png">
             <img class="logotipo d-sm-block d-md-none" src="/img/mejorseguro.svg">
              </div>
              <div class="col-6 col-sm-6 col-md-3 mb-2 text-center d-none d-sm-none d-md-block mleftrate"> 
              <p class="label_star color_star"> &#9733; <span class="bol">4.5</span></p>
              <br>
              <span class="span_text">MEJOR CALIFICADO</span>
              </div>
            

             <div class="col-6 col-sm-6 col-md-3 mb-0 text-center text-white d-none d-sm-none d-md-block"> 
             
              </div>     
              <div class="col-6 col-sm-6 col-md-3 text-center">
              <div class="btn btn-light margin-40">
              <a  :href="'tel:'+$store.state.config.telefonoAS" class="center f13"><img src="/img/phone.png" class="mr-1 telsize" /> {{$store.state.config.telefonoAS}}</a>
              </div>
              </div>
      </div>
    </div>
    </div>
 
  <div class="container-fluid">
    <section>
      <div class="row contenier_position colorAseg">
          <div class="d-none d-sm-none d-md-block col-lg-12 capa2 pAbsolute back1 ovehidden pcero">
        </div>
       
          <div class="d-none d-sm-none d-md-block col-lg-12 capa2 pAbsolute back3 ovehidden pcero">
        </div>
        <div class="col-lg-12 capa2 he550">
          <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-3 col-xs-12 offset-lg-1 d-none d-md-block m-lflogo">

              <div class="textwhite mab txtw1 mt-0">
                <div class="txtw1 padd">
                  <br/>
                  <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 m-lf">
                    <img class="logo-2x" src="/img/gnp.svg" alt="seguros GNP">
                    <h1 class="text_hi">Cotiza GNP Seguros Autos</h1>
                     <p class="p_subtitle">Cotiza y contrata en 5 minutos</p>
                  </div>
                </div>
              </div>
              </div>
            </div>

            <!--;;;;;;::::::::::::::::::::::formulario;;;;;;,;;;;;,-->

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 offset-lg-1 formu">
              <div class="">
   
<div class="row d-sm-block d-lg-none d-md-none capa2">
                  <div class="col-12 ">
<h2  class="text-white sizeMobile">Cotiza Seguros GNP</h2>
        
                  </div>
                </div>
                <div class="col-12 marginform">
                  <br>
                  <br>
                  <br>
                  <div class="cuarto-circulo_top d-none"></div>
                  <div class="cuarto-circulo_top1 d-none"></div>
              
                  <div class="x_content" id="formAutos">
                    <autos-form :config="this.$store.state.config"></autos-form>
                  </div>
          
              
                </div>
              </div>
            </div>
          </div>
           <div class="d-none d-sm-none d-md-block cuarto-circulo"></div>
           <div class="d-none d-sm-none d-md-block cuarto-circulo1"></div>

    
        </div>
      </div>

    </section>
 
    <index-content/>
  </div></div>
</template>

<script>
  import indexContent from '~/components/content/indexContent.vue'
  import AutosForm from '~/components/forms/AutosForm.vue'
 

  export default {
    created: function () {
      this.$store.state.config.aseguradora = 'GNP';
      this.$store.state.config.cotizacion = true;
      this.$store.state.config.emision = true;
      this.$store.state.config.descuento = 0;
      this.$store.state.config.telefonoAS = '5547495116';
      this.$store.state.config.grupoCallback = 'VN GNP';
      this.$store.state.config.from = 'DOMINIO-GNP';
      this.$store.state.config.idPagina = 16;
      this.$store.state.config.idCampana = 2;
    },
    components: {
      indexContent,
      AutosForm
    },
     head() {
      return {
        title: 'GNP Seguros - GNP - Mejor Seguro de Auto GNP',
        meta: [
          {hid: 'GNP Seguros', name: 'keywords', content: 'GNP, GNP Seguros, Seguros GNP, seguros de autos GNP, GNP Seguros Autos, GNP Seguros México, Seguros GNP Autos, Cotiza Seguros de Autos GNP'},
          {hid: 'description', name: 'description', content: 'GNP Seguros: El Mejor Seguro de Auto te ofrece la mejor opción para contratar Seguros GNP. Cotiza fácil y rápido obteniendo las mejores coberturas y precios de Seguros de autos GNP'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: '@ivandesignMx | @DanCuevas'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://gnpsegurosautos.com/'}
        ],
      }
    }
  };
</script>
<style scoped>
.backf{padding: 5px;}
</style>



