<template>
  <div>
    <section>
      <div class="row capa1 pRelative padd2">
        <div class="separadorito d-none d-sm-none d-md-block"></div>
        <div class="col-lg-10 offset-lg-1 mt-2">
          <div>
            <h2 class="title">¿Qué tan bueno es el Seguro de Auto GNP?</h2>
          </div>
          <div>
            <p>El Seguro de Auto GNP actualmente cuenta con más de 80 millones de clientes por todo el país, caracterizado principalmente por adecuarse a las distintas necesidades de cada uno de sus asegurados, además de ampararte en todo momento, con coberturas que te protegen en todo México, y en el extranjero.</p>
            <p>De esta forma podrás sentirte tranquilo de que tu patrimonio estará cuidado, así como el bienestar y la tranquilidad de tu familia. GNP Seguros se caracteriza por ser una de las aseguradoras de autos más importantes en México, enfocándose en brindar las mejores soluciones a todo tipo de imprevistos que se te puedan presentar.</p>
            <p>GNP Seguros de Autos ha logrado destacarse en todo el país por medio de su admirable solidez financiera con la cual otorgan el respaldo necesario a todos y cada uno de sus clientes. Durante sus más de 110 años dentro de la industria aseguradora, se colocan entre las compañías de seguros más importantes de nuestro país, respondiendo eficientemente a todas y cada una de las necesidades que día con día surgen, especialmente en el sector automotriz.</p>
          </div>
          <div>
            <h3 class="title">Recibe muchos beneficios con GNP Seguros</h3>
          </div>
          <div>
            <p>En El Seguro de Auto sabemos de lo importante que es tu protección, y es así que trabajamos junto a GNP Seguros para brindarte todo lo que necesitas para el cuidado de tu automóvil, es así que con El Seguro de Auto GNP podrás obtener el respaldo que necesitas para afrontar los distintos siniestros a los que estamos expuestos todo el país y en el extranjero. Tenemos para ti los mejores talleres mecánicos y de hojalatería del país, además de:</p>
            <p><b>Talleres certificados</b> por toda la República en caso de sufrir cualquier tipo de accidente o problemas mecánicos, podrás solicitar la atención correspondiente en uno de ellos. </p>
            <ul class="check">
            <li><i class="fa fa-check"></i> Respaldo por daños a terceros en caso de un accidente que pueda provocar daños en bienes o personas. </li>
            <li><i class="fa fa-check"></i> Gastos médicos al conductor y quienes te acompañen a bordo de tu automóvil al momento de sufrir un percance. </li>
            <li><i class="fa fa-check"></i> Asistencia vial con eventos ilimitados en servicios de grúa, envío de gasolina, así como pasa de corriente y cambios urgentes de llantas. </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row back2">
        <div class="col-lg-12 back2Color d-flex justify-content-center align-items-center shadow">
          <a href="#" class="btn btn-primary text-white">Cotiza gratis ahora mismo</a>
        </div>
      </div>
    </section>
    <section>
      <div class="row capa1 pRelative padd2">
        <div class="separadorito"></div>
        <div class="col-lg-10 offset-lg-1">
          <div class="">
            <h3 class="title">Coberturas que ofrecemos con GNP Seguros</h3>
          </div>
          <div class="">
            <p>Conocemos de lo importante que es cuidar de tu vehículo, principalmente de los distintos riesgos a los que estamos expuestos a diario. Es por eso que junto a GNP Seguros de Autos, te contamos sobre todas las coberturas que actualmente son comercializadas al mercado. Conoce más:</p>
            <p><b>Seguro de Coche GNP <i> Amplio Standard:</i></b> Póliza mediante la cual estarás amparado contra todo tipo de daños materiales que puedas provocar, así como colisiones en las que únicamente estarás obligado a pagar el 5% de deducible. Pero también contra el robo o la misma pérdida total de tu automóvil estarás respaldado, pagando únicamente el 10% de deducible sobre el valor comercial. Obtendrás una suma asegurada por 3 millones de pesos en Responsabilidad Civil por los mismos daños a terceros, así como 200 mil pesos en asesorías legales, o gastos médicos. Además de asistencia vial sin límite de eventos.</p>
            <p><b>Seguro de Autos GNP <i> Amplia 0%:</i></b> En este plan encontraras beneficios similares que una cobertura standard te puede ofrecer. Sin embargo, también incrementarán algunos de los puntos en esta póliza, tales como el costo de deducible por los daños materiales, pues disminuirá al 3%. A su vez, el robo o la pérdida de tu vehículo no tendrán ningún costo en deducible, ya que será cubierto en su totalidad por GNP. Todo tipo de gastos por asesoría legal, asistencia médica y el mismo pago de fianza incrementará a 500 mil pesos.</p>
            <p><b>Seguros de Autos GNP <i> Elite:</i></b> Considerada como una de las coberturas más completas que actualmente se comercializa en el mercado, con esta absolutamente todos los deducibles quedarán eliminados. De esta forma Seguros GNP cubrirá los gastos que puedan generarse a causa de daños materiales, accidentes, robos, y reparaciones mecánicas. También se añade la opción para que tu auto reciba atención directamente en agencia, así como el servicio de automóvil sustituto, que podrás utilizar de 10 a 30 días, junto con una ayuda de hasta 25 mil pesos si las llantas de tu coche son robadas. Obtendrás eventos ilimitados por asistencia vial, incluyendo envíos de gasolina, y cerrajero.</p>
          </div>
        </div>
      </div>
    </section>
       <section>
      <div class="row capa1 pRelative padd2">
        <div class="col-lg-10 offset-lg-1">
          <div class="">
            <h3 class="title">¿Por qué contratar El Mejor Seguro de Auto GNP?</h3>
          </div>
          <div>
            <p>Contratar un seguro de auto nunca había sido tan fácil, con El Seguro de Auto obtendrás tu cotización en menos de 30 segundos, y también te brindaremos la asesoría que requieres para poder responder a todas tus dudas.</p>
            <p>Mostrando en todo momento un potencial para crear soluciones eficientes contra todo tipo de imprevistos a los que estamos expuestos, así como estructurar servicios sumamente atractivos.</p>
            <p>Recuerda que con nosotros, únicamente necesitarás ingresar datos básicos de tu automóvil, así como personales. Elige la opción que mejor se adapte a tus necesidades, obtén los mejores descuentos del mercado.</p>
            <p>La protección que necesitas para ti, para tu familia y sobre todo para tu automóvil, ahora podrás obtenerla de la forma más sencilla. Con El Seguro de Auto podrás contratar tu póliza con Seguros para Auto GNP. Obtendrás todos los beneficios para que cuides tu patrimonio ante cualquier situación que se te pueda presentar, pero también recibirás el respaldo necesario para todo tipo de siniestros a los que estás expuesto.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
