<template>
  <div>
     <section class="mt-4">
      <div class="row capa1 pRelative padd2 mt-3">
        <div class="col-lg-10 offset-lg-1">
          <div class="mt-4">
            <h3 class="title">¿Por qué contratar El Mejor Seguro de Auto GNP?</h3>
          </div>
          <div>
            <p>Contratar un seguro de auto nunca había sido tan fácil, con El Seguro de Auto obtendrás tu cotización en menos de 30 segundos, y también te brindaremos la asesoría que requieres para poder responder a todas tus dudas.</p>
            <p>Mostrando en todo momento un potencial para crear soluciones eficientes contra todo tipo de imprevistos a los que estamos expuestos, así como estructurar servicios sumamente atractivos.</p>
            <p>Recuerda que con nosotros, únicamente necesitarás ingresar datos básicos de tu automóvil, así como personales. Elige la opción que mejor se adapte a tus necesidades, obtén los mejores descuentos del mercado.</p>
            <p>La protección que necesitas para ti, para tu familia y sobre todo para tu automóvil, ahora podrás obtenerla de la forma más sencilla. Con El Seguro de Auto podrás contratar tu póliza con Seguros para Auto GNP. Obtendrás todos los beneficios para que cuides tu patrimonio ante cualquier situación que se te pueda presentar, pero también recibirás el respaldo necesario para todo tipo de siniestros a los que estás expuesto.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
